<!-- base.html -->
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <h1>Welcome to  store</h1>
        </header>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('cpu') }}">CPU</a>
            <a href="{{ url_for('memory') }}">Memory</a>
            <a href="{{ url_for('motherboard') }}">Motherboard</a>
        </nav>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <p>© 2024 Store</p>
        </footer>
    </body>
</html>

